.code {



  * { .ease-out();
  }

  h2 {
    .mui-font-style-title;
  }

  h1, h2, p {
    color: @dark-white;
    .mui-font-weight-light;
  }

  .feature-list-feature-heading {
    .mui-font-style-title;
    background-color: @grey-200;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: @desktop-keyline-increment;
  }

  .feature-list-feature-image {
    //Not sure why this is needed but it fixes a display
    //issue in chrome
    margin-bottom: -6px;
  }


}
