/* material-ui */
@import "../../node_modules/material-ui/src/less/scaffolding.less";
@import "../../node_modules/material-ui/src/less/components.less";

// purecss
@import (less) "../../node_modules/purecss/pure-min.css";
@import (less) "../../node_modules/purecss/grids-responsive-min.css";
@import "pure-helper.less";

// page animations: https://github.com/codrops/PageTransitions

@import "master.less";
@import "layout/full-width-section.less";

@import "pages/home-page.less";
@import "pages/apps-page.less";
@import "pages/games-page.less";
@import "pages/code-page.less";
@import "pages/about-page.less";

@import "pages/projects/talkly-page.less";
@import "pages/projects/murmur-page.less";

@import "pages/projects/intersolar-page.less";
@import "pages/projects/horoscoper-page.less";
@import "pages/projects/spacinarium-page.less";
@import "pages/projects/timid-turtle-page.less";
@import "pages/projects/trig-vs-dots-page.less";

@import "pages/components/buttons.less";
@import "pages/components/icon.less";
@import "pages/components/paper.less";
@import "pages/components/headline.less";
@import "pages/components/feature-list.less";
@import "pages/components/footer.less";
@import "pages/components/header.less";

body {
  margin: 0;
}

a {
  color: @accent-1-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// overwirte
@primary-1-color: @grey-800;
// @primary-2-color: @cyan-700;
// @primary-3-color: @cyan-100;
@primary-2-color: @light-blue-600;
@primary-3-color: @light-blue-50;
@accent-1-color: @grey-50;
@accent-2-color: @pink-A400;
@accent-3-color: @pink-A100;
