@l-box-padding: 1em;
@l-box-lrg-padding: 2em;
@l-box-lrg-padding-sm: 1em;


.pure-img-responsive {
  width: 100%;
  height: auto;
}


/*
* -- LAYOUT STYLES --
* These are some useful classes which I will need
*/

.l-box {
  padding: @l-box-padding;
}

.l-box-lrg {
  padding: @l-box-lrg-padding;
  // border-bottom: 1px solid rgba(0,0,0,0.1);
}

.l-box-lrg-top {
  padding: @l-box-lrg-padding @l-box-lrg-padding 0em ;
}

.l-box-lrg-bottom {
  padding: 0em @l-box-lrg-padding @l-box-lrg-padding;
}


.l-width {
  max-width: 980px;
  margin: 0 auto;
}

.is-center {
  text-align: center;
}

@media @device-small {
  .l-box-lrg {
    padding: @l-box-lrg-padding-sm;
    // border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .l-box-lrg-top {
    padding: @l-box-lrg-padding-sm @l-box-lrg-padding-sm 0em ;
  }

  .l-box-lrg-bottom {
    padding: 0em @l-box-lrg-padding-sm @l-box-lrg-padding-sm;
    }
}

@media @device-medium {

}

@media @device-large {

}
